<div class="col-md-5 col-12 bg-white rounded rounded-5 p-0">
    <header class="position-relative">
        <img src="assets/img/Card-img.png" class="img-fluid " alt="Hero Image">
        <h3 class="text-success position-absolute rounded-top-4 p-2 rounded-start-0 bg-white"
            style="top:0rem; right:0rem">
            Premium</h3>
        <div class="col-2 position-absolute" style="bottom:-1rem; left:1.5rem">
            <img src="assets/img/Poster-img.png" class="img-fluid" alt="Hero Image">
        </div>
    </header>
    <main class="p-4">
        <div>
            <h2 class="">Station</h2>
            <p>Lorem Ipsum is a standard dummy text used in printing and web design. Learn about its origin, variations,
                translations and how to generate it online.</p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2 align-items-center">
                <i class="fa fa-map-marker text-danger" aria-hidden="true"></i>
                <p class="p-0 m-0">Location: Luanda, Angola</p>
            </div>
            <div class="d-flex gap-2 align-items-center">
                <i class="fa fa-star text-warning"></i>
                <p class="p-0 m-0">5/10</p>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center py-2 px-4 mt-3"
            style="background-color:@ColorThemeEnum.GreyTertiary">
            <div class="d-flex gap-2 align-items-center">
                <p class="p-0 m-0">Run Rate Sales</p>
                <i class="fa fa-info text-bg-dark text-white p-1 rounded" style="font-size:.7rem"
                    data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"></i>
            </div>
            <h5 class="p-0 m-0 fw-bolder">EUR 980 thousand</h5>
        </div>

        <div class="d-flex justify-content-between align-items-center py-2 px-4 mt-2"
            style="background-color:@ColorThemeEnum.GreyTertiary">
            <div class="d-flex gap-2 align-items-center">
                <p class="p-0 m-0">EBITDA Margin</p>
                <i class="fa fa-info text-bg-dark text-white p-1 rounded" style="font-size:.7rem"
                    data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"></i>
            </div>
            <h5 class="p-0 m-0 fw-bolder">19%</h5>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-3 gap-4">

            <div class="d-flex flex-column">
                <div class="d-flex gap-2 align-items-center">
                    <p class="p-0 m-0">Business for sale</p>
                    <i class="fa fa-info text-bg-dark text-white p-1 rounded" style="font-size:.7rem"
                        data-bs-toggle="tooltip" data-bs-html="true"
                        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"></i>
                </div>
                <h3 class="fw-bolder">
                    <span style="color: @ColorThemeEnum.RedPrimary;">EUR</span>
                    1.3Mm
                </h3>
            </div>

            <button type="button" class="btn btn-danger py-3 " style="background-color: @ColorThemeEnum.RedPrimary;">
                Contact Company
            </button>

        </div>

    </main>
</div>