@inherits LayoutComponentBase

<div>
    <header>
        <NavMenu />
        <HeroSectionHomePage />
    </header>

    <main class="main-content" style="">
        @Body
    </main>

    <footer class="d-flex flex-column">
        <div class="p-5 mt-5 bg-white d-flex flex-wrap gap-5 align-items-center justify-content-between">
            <div class="d-flex flex-column col-md-4 ms-0 ms-md-5 col-12">
                <NavLink class="navbar-brand" href="#">
                    <img src="assets/img/dealbusinesshublogo.png" class="" />
                </NavLink>
                <p class="text-black-50 mt-3">DealBusiness is about connecting businesspeople, entrepreneurs, investors
                    and
                    consultantes interested in
                    buying, selling or partnering with businesses.</p>
                <form class="mt-3">
                    <div class="form-group col-10 d-flex align-items-center gap-2">
                        <input placeholder="Search here"
                            class="form-control-sm col-12 bg-body-tertiary border-0 shadow-none py-3 px-4" />
                        <button type="button" class="btn btn-danger py-3 px-4"
                            style="background-color: @ColorThemeEnum.RedPrimary;">Send</button>
                    </div>
                </form>
            </div>

            <div class="col-md-5 col-12 d-flex justify-content-between me-5">
                <div class="d-flex flex-column gap-3">
                    <strong>Search</strong>
                    <div class="d-flex flex-column gap-2">
                        <NavLink href="#">Estabilished Business</NavLink>
                        <NavLink href="#">Asset Sales</NavLink>
                        <NavLink href="#">Find a Broker</NavLink>
                        <NavLink href="#">Business Real State</NavLink>
                    </div>
                </div>

                <div class="d-flex flex-column gap-3">
                    <strong>Resources</strong>
                    <div class="d-flex flex-column gap-2">
                        <NavLink href="#">Value Business</NavLink>
                        <NavLink href="#">Blog & Articles</NavLink>
                        <NavLink href="#">Consoulting</NavLink>
                    </div>
                </div>

                <div class="d-flex flex-column gap-3">
                    <strong>Company</strong>
                    <div class="d-flex flex-column gap-2">
                        <NavLink href="#">About Us</NavLink>
                        <NavLink href="#">Contacts</NavLink>
                        <NavLink href="#">Terms of Use</NavLink>
                        <NavLink href="#">Privacy Notice</NavLink>
                        <NavLink href="#">Sitemap</NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center bg-dark text-white p-3 col-12">
            &copy; DealBusiness | 2024
        </div>
    </footer>
</div>