@inherits LayoutComponentBase

<main class="d-flex main-content p-0 m-0" style="min-height: 100vh">
    <aside class="position-relative p-5 d-none d-lg-flex flex-column justify-content-center" style="background-image: url('../assets/img/AuthBackImage.png'); width:35%">
        
        <div style="color:@ColorThemeEnum.WhitePrimary; z-index:999" class="d-flex flex-column gap-4">
            <h1 class="text-white fw-bold text-wrap w-50">@Title</h1>
            <p class="text-white">
                @Description
            </p>
            <img src="../assets/img/paginationlogo.png" class="w-25"/>
       </div>

    </aside>
    <aside class=" d-flex flex-grow-1 w-100 flex-column justify-content-center align-items-center gap-3 p-2 px-3 px-lg-0" style="background-color:@ColorThemeEnum.WhiteSecondary">
        <header>
            <img src="../assets/img/dealbusinesshublogo.png" />
        </header>
        <section class="rounded rounded-5 col-12 col-md-7" style="background-color:@ColorThemeEnum.WhitePrimary;">
            @Body
        </section>
    </aside>
</main>

@code {
    public string Title { get; set; } = "Explore Unlimited Opportunities";
    public string Description { get; set; } = "Discover a wide range of business opportunities all in one place. Connect with qualified buyers, investors, sellers, and consultants to achieve your business goals.";

}
