@* Add Section With Background Image with smoth shadow from the bottom*@

<section class="hero-section" style="background-image: url('assets/img/herosectionimg.png'); height:100vh">
    <div class="container py-5">
        <div class="hero-content text-white">
            <h1>Connect with <span style="color:@ColorThemeEnum.RedPrimary">profitable<br />business</span>  opportunities suited<br /> to your vision.</h1>
            <a href="deals" class="btn btn-primary">View Deals</a>
        </div>
    </div>
</section>

@code {

}
