@* Add Section With Background Image with smoth shadow from the bottom*@

<section class="hero-section d-flex align-items-center"
    style="background-image: url('assets/img/herosectionimg.png'); background-attachment: fixed; padding:8rem 0rem;box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.4);">
    <div class="container d-flex flex-column gap-3 position-relative" style="">
        <div class="hero-content text-white mb-4">
            <h1>Let's turn your ideas into reality!"</h1>
            <p class="w-50 text-white-50">Explore exciting business and investment opportunities. We're here to
                help you find the best opportunities to achieve your goals.</p>
        </div>


    </div>

</section>