@page "/business/seller/listings"
@inject NavigationManager navigation


<PageTitle> DealBusinessHub - Seller Listings </PageTitle>

<HeroSection Title="Related business"
    Description="Explore exciting business and investment opportunities. We're here to help you find the best opportunities to achieve your goals." />

<section class="container" style="margin-top: -100px;">
    <div class="row gap-4">
        <div class="p-4 col-4 rounded d-grid align-content-between gap-5 position-relative"
            style="background-color:@ColorThemeEnum.RedPrimary;overflow:hidden">
            <div class="d-flex align-items-center justify-content-between" style="z-index:1">
                <div class="btn btn-danger">
                    <i class="fa fa-wifi"></i>
                    Live projects
                </div>

                <div class="btn btn-danger">
                    View All
                </div>
            </div>

            <div class="d-flex flex-column text-white" style="z-index:1">
                <h1 class="fw-bolder">56</h1>
                <p>Currently, the projects is in progress.</p>
            </div>

            <svg class="position-absolute" style="bottom:0; overflow:hidden;" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 470 320">
                <path fill="#B84E4E" fill-opacity="1"
                    d="M0,32L60,37.3C120,43,10,163,360,96C480,139,600,213,720,218.7C840,224,960,160,1080,165.3C1200,171,1320,245,1380,282.7L1440,320L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
        </div>

        <div class="p-4 col-3 rounded d-grid align-content-between gap-5 position-relative"
            style="background-color:@ColorThemeEnum.RedPrimary;overflow:hidden">
            <div class="d-flex align-items-center justify-content-between" style="z-index:1">
                <div class="btn btn-danger">
                    <i class="fa fa-bars-progress"></i>
                    In Progress
                </div>
            </div>

            <div class="d-flex flex-column text-white" style="z-index:1">
                <h1 class="fw-bolder">124</h1>
                <p>Projects in progress</p>
            </div>

            <svg class="position-absolute" style="bottom:0; overflow:hidden;" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 370 320">
                <path fill="#B84E4E" fill-opacity="1"
                    d="M0,32L60,37.3C120,43,70,63,360,96C480,139,600,213,720,218.7C840,224,960,160,1080,165.3C1200,171,1320,245,1380,282.7L1440,320L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
        </div>

        <div class="p-4 col-3 rounded d-grid align-content-between gap-5"
            style="background-color:@ColorThemeEnum.RedPrimary;">
            <div class="d-flex align-items-center justify-content-between">
                <div class="btn btn-danger">
                    <i class="fa fa-file-alt"></i>
                    Completed
                </div>

            </div>

            <div class="d-flex flex-column text-white">
                <h1 class="fw-bolder">0</h1>
                <p>Completed projects</p>
            </div>
        </div>


    </div>

    <div class="d-flex align-items-center justify-content-between my-5">
        <h4 class="fw-bolder">Let's turn your ideas<br> into reality!"</h4>
        <button type="button" class="btn btn-danger p-2 px-4" @onclick="RedirectToAdd">
            + New listing
        </button>
    </div>

    <section class="bg-white my-5 shadow rounded">
        <header class="d-flex justify-content-between align-items-center p-4" style="background-color: #FCFCFC;">
            <h6 class="fw-bold">All Listings (@(listings.Count))</h6>
            <input placeholder="Search here" style="background-color: @ColorThemeEnum.WhiteSecondary;"
                class="form-control-sm col-4  border-0 shadow-none py-3 px-4" />
        </header>
        <main class="w-100 p-4">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Toptal Price</th>
                        <th>Tax</th>
                        <th>Other</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!listings.Any())
                    {
                        <tr>
                            <td colspan="6" class="text-center py-5">
                                No listings
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="col-2">A</td>
                            <td class="col-2">B</td>
                            <td class="col-2">C</td>
                            <td class="col-2">D</td>
                            <td class="col-2">E</td>
                            <td class="col-4">
                                <div class="d-flex">
                                    <NavLink href="/business/seller/listings/deatails/1" class="btn btn-link">See</NavLink>
                                    <NavLink href="/business/seller/listings/edit/1" class="btn btn-link">Edit</NavLink>
                                    <NavLink class=" btn btn-link text-danger">Delete</NavLink>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </main>
    </section>

</section>

@code {
    public List<string> listings = new();

    void RedirectToAdd()
    {
        navigation.NavigateTo("/business/seller/listings/add");
    }
}